.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.btn {
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}


a:hover i {
  color: #0008e9;
  transform: scale(1.1);
  transition: 0.5s;
}

.blog-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profile-img {
  animation: floating 1.5s infinite ease-in-out;
}



